.authblock{
    width:350px;
    background: #404040;
    margin: 0 auto;
}

.authblock h1{
    width:350px;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    padding:10px 0 0 0;
}

.authblock input[type=text],.authblock input[type=password]{
    width:325px;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    color: inherit;
    padding:5px;
    margin:0 0 0 5px;
    background:#525252;
    border: none;
}

.authblock input[type=text],.authblock input[type=password]:focus{
    outline:none;
    font-style: normal;
}

.authblock input[type=submit]{
    font-size: 15px;
    font-weight: normal;
    padding:5px;
    margin:0 0 5px 0;
    text-decoration: none;
    color: inherit;
    background:#525252;
    cursor: pointer;
    border:none;
}

.authblock input[type=submit]:hover{
    background:#5c5c5c;
}

.authblock input[type=submit]:focus{
    outline: none;
}

#cellinput{
    text-align: center;
}