#mask {
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
    display:none;
}

#boxes .window {
    position:absolute;
    left:0;
    top:0px;
    -top: 40px;
    height:400px;
    display:none;
    z-index:9999;
    padding: 20px;
}

#boxes #dialog {
    height:400px;
    max-width: 100%;
    padding:10px;
    background-color:#434343;
    overflow-y:auto;
}
.friendlist{
    width:690px;
}

.friendstop {

}

.friendstop h2{
    padding: 10px;
    background: #404040;
    margin:10px 0 0 10px;
    font-weight: normal;
}

.friendlist p{
    margin:10px 0 0 10px;
}

.friendscontent {
    padding:10px 0 0 0;
}

.friendsblock{
    margin:0 5px 0 5px;
    height: 60px;
}

.friendsblock img{
    float: left;
    width:50px;
    height: 50px;
}

.friendsname{
    float: left;
    margin:0 0 0 5px;
}

.friendsgo{
    width:20px;
    height:20px;
}

.friendsblock .friendsgo input[type=submit]{
    float: left;
    margin: -23px 0 0 55px;
    padding:3px 5px;
    text-decoration: none;
    color: inherit;
    background:#525252;
    cursor: pointer;
    border:none;
}

.friendsblock .friendsgo input[type=submit]:hover{
    background:#5c5c5c;
}

.friendsblock .friendsgo input[type=submit]:focus{
    outline: none;
}