.profileavatar.block{
    width:200px;
    float: left;
}

.profileavatar img{
    width:200px;
    height: 200px;
    margin:10px 10px 0 10px;
}

.profileavatar.edit{
    padding:0 0 10px 0;
}

.profileavatar.edit a{
    display: block;
    width:200px;
    padding:5px 0;
    margin:0 0 0 10px;
    text-decoration: none;
    text-align: center;
    color: inherit;
    background:#525252;
    border:none;
}

.profileavatar.edit a:hover{
    background:#5c5c5c;
}

.profileavatar.edit a:focus{
    outline: none;
}

.profile.block{
    float: left;
    height: 230px;
    margin:10px 0 10px 15px;
}

.cell {
    background:#5c5c5c;
    display:table;
    padding:0 10px;
    margin:0 0 10px 0;
    line-height: 25px;
}