.regblock{
    width:350px;
    background: #404040;
    margin: 0 auto;
    padding:0 0 10px 0;
}

.regblock h1{
    width:350px;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    padding:10px 0 0 0;
}

.regblock p{
    float: right;
}

.regblock table{
    margin: 0 auto;
}

.regblock input[type=text],.regblock input[type=password],.regblock input[type=email]{
    height: 15px;
    float: left;
    width:120px;
    font-weight: normal;
    color: inherit;
    padding:5px;
    margin:0 0 0 5px;
    background:#525252;
    border: none;
}

.regblock input[type=text],.regblock input[type=password]:focus{
    outline:none;
    font-style: normal;
}

.regblock input[type=date]{
    float: left;
    height: 15px;
    width:120px;
    font-weight: normal;
    color: inherit;
    padding:5px;
    margin:0 0 0 5px;
    background:#525252;
    border: none;
    font-size: 13px;
}

.regblock input[type=date]:focus{
    outline:none;
    font-style: normal;
}

.regbutton input[type=submit]{
    display: table;
    font-size: 15px;
    font-weight: normal;
    padding:5px 10px;
    margin:0 auto;
    text-decoration: none;
    color: inherit;
    background:#525252;
    cursor: pointer;
    border:none;
}

.regbutton input[type=submit]:hover{
    background:#5c5c5c;
}

.regbutton input[type=submit]:focus{
    outline: none;
}