body {
    font-family:Arial;
    width:1000px;
    color:#e2dada;
    background: #e6e9e9;
    margin:0 auto;
    font-size: 14px;
}

.section {
    width:1000px;
    height:30px;
    margin:10px 0 5px 0;
}

.logo{
    float:left;
    margin:0 10px 0 0;
}

.logo img{
    width:100px;
    height: 30px;
}

.search {
    float: left;
    width:250px;
    height:30px;
    background: #555555;
}

.search img{
    width:15px;
    margin:8px 0 0 5px;
    float: left;
}

.search input{
    width:210px;
    height:25px;
    background: inherit;
    border:none;
    color:#d6d1d1;
    float: left;
    margin:3px 0 0 5px;
    font-style: italic;
    font-size: 12px;
    border-right: 1px solid;
}

.search input:focus{
    outline:none;
    font-style: normal;
}

.rowpannel{
    float: right;
    width:880px;
    height:30px;
    background: #555555;
    margin:0 auto;
}

#authreg a{
    float:right;
    text-decoration: none;
    color:#fff;
    margin:0 10px 0 0;
    padding: 7px;
}

#authreg a:hover{
    background-color: #2c2b2b;
}

.menu {
    margin:0 auto;
    float: left;
    width:300px;
    background-color: #2c2b2b;
}

.menu a{
    text-decoration: none;
    width:270px;
    color: #ffffff;
    background: #525252;
    display:table;
    padding:10px 0 10px 30px;
    margin:5px 0;
}

.menu a:hover{
    background:#5c5c5c;
}

.menu h1{
    background: #404040;
    color:#e2dada;
    text-transform: uppercase;
    padding:10px 0 10px 20px;
    font-size:16px;
    font-weight: normal;
}

.content {
    float: right;
    background: #2c2b2b;
    width:670px;
    padding:10px 10px 0 10px;
}

.newsblock{
    width:650px;
    background: #404040;
    padding: 10px;
    margin-bottom:10px;
    text-align: justify;
}

.newsimg img{
    width:100px;
    height: 100px;
    float:left;
}

.newstitle a{
    color:#fff;
    line-height: 20px;
    margin: 0 0 0 10px;
    font-size:16px;
    text-decoration: none;
}

.newsdate,.newsauthor{
    float: left;
    text-decoration: none;
    color:#8e8e8e;
    font-size:11px;
    margin:0 0 0 10px;
    font-style: italic;
}

.newscontent{
    width:550px;
    text-align: justify;
    overflow: hidden;
}

.newscontent p{
    float: left;
    margin:10px 0 0 10px;
}

.newsbutton a{
    text-decoration: none;
    color:#ffffff;
    background:#525252;
    float:right;
    margin:10px 30px 0 0;
    padding:10px;
    line-height: 0px;
}

.newsbutton a:hover{
    background:#5c5c5c;
}